body {
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJIMlwvoqON9GshozGGsszhOsAZl0Ub0a5FA&usqp=CAU");
}

h1 {
    height: 100px;  
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThVCguZjtxIlDwmzibxDq9iE4OemMYqf44mA&usqp=CAU") ;
    color: white;
}

#Theme {
    height: 300px;
    width: 900px;
}
